html 
    head  
        title= titulo
        link(rel="stylesheet", href="estilos.css")
    body 
        div.container 
       
              input(type="text" placeholder="name" id="nombre")
              input(type="text" placeholder="number" id="numero")
              button(id="btn_agregar") agregar contacto
              div.contacto
                  each contacto in contactos   
                      p= ` ${contacto.nombre_contacto}`
                      button(class="borrar" id=contacto.id_agenda) borrar

    script(src="funciones.js")